@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }

  html.dark {
    color-scheme: dark;
  }

  ::selection {
    background-color: rgb(56 189 248 / 0.2);
  }
}
